@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-image: url("../IMG/tea.jpg");
  background-color: #635147;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  font-family: 'Josefin Sans',
  sans-serif;
  color: #fff;
}
::placeholder {
  color: #fff;
}
.header{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.signUp-form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 1.2rem;
}
.signUp-form input {
  padding: 0%;
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
  margin: 0.7rem;
  font-family: 'Josefin Sans',
    sans-serif;
}

.form-group {
  border-bottom: 1px solid #fff;
  margin: 1rem;
  display: flex;
}

.form-group i {
  color: #fff;
  font-size: 2rem;
}

.no-border {
  border: none;
}
#male,
#female {
  font-size: 3rem;
}

#male+label,
#female+label {
  color: white;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  color: #fff;
  border: 3px solid white;
  font-family: 'Josefin Sans',
    sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: transparent;
  padding: 1rem;
  outline: none;
  border-radius: 4px;
}
button:hover {
  color: #635147;
  font-weight: bold;
  background-color: #fff;
}

.redirect {
  color: white;
  font-size: 1.4rem;
}

.redirect a {
  background: transparent;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  outline: none;
  border: solid white 3px;
  border-radius: 2px;
  padding: 2px;
}

.redirect a:hover {
  color: #000;
}

.quiz-exit {
  position: absolute;
  bottom: 0;
  left: 1rem;
  margin: 2rem;
  width: 36px;
  height: 36px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
  border: 2px solid #635147;
  ;
}

.quiz-exit:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #635147;
  ;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

a {
  text-decoration: none;
  color: #635147;
}

@media only screen and (max-width: 700px) {
  html{
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .signUp-form {
    display: block;
  }
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .redirect{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quiz-exit {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}


